html {
	width: 100%;
}

body {
	width: 100%;
}
.lead{
	font-size: large;
}
.liste{
	/*font-style: oblique;*/
	font-size: large;
}
.p_own{
	font-size: large;
}
ul{
	padding-top: 0 px;
	list-style-image: url("../img/list.svg");
}
h2{
	color: #9BCA3B;
}
em{
	color: #9BCA3B;
}
.img_konzept{
	float: right;
	width: 100%;
	margin: 0 0 10px 20px;
    padding: 0;

}
 footer{
	 background-color: #fafafa;
	 border-top: 1px solid #eeeeee;
 }
#map-container { height: 200px }
/*.bottom_text{
	position:absolute;
bottom:0;
}*/
.row{
	padding-bottom: 25px;
}
.lead{
	text-align: justify;
}






