html {
	width: 100%;
}

body {
	width: 100%;
}
 .header-own{
	 background-color: #fafafa;
	 border-top: 1em solid #eeeeee;
 }
 .pad_seite{
	margin-top: 2em;
}
button.navbar-toggler {
	outline-color: transparent;
	border:0;
	padding-left:0;
	margin-left: 0;


}
.pull-right{
    float:right !important;
    }
.navbar{
	line-height: 2.5;
	 font-size: 1.2em !important; 

}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
	font-weight: 600;
	color: #9BCA3B; 
}

.navbar.navbar-light .dropdown-menu {
  background-color: #f7f8f9;
  border: none;
}
.dropdown-item{
	color: rgba(0, 0, 0, 0.5);
}
.dropdown-item.active, .dropdown-item:active {
	font-weight: 600;
	color: #9BCA3B;
	background-color: transparent;
}

.liste{
	font-style: oblique;
	color: #333333;
	font-size: medium;
   font-weight: 300;
}
.zeit{
	color: #333333;
	font-size: large;
    font-weight: 300;
}

.p_own{
	font-size: large;
}
ul{
	padding-top: 0 px;
	list-style-image: url("../img/list.svg");
}
h2{
	color: #9BCA3B;
}
h4{
	font-weight: 500;
}
em{
	color: #9BCA3B;
}
dt{
	font-weight: 500;
}
.img_konzept{
	float: right;
	width: 100%;
	margin: 0 0 1em 2em;
    padding: 0;

}
 .footer-own{
	 background-color: #fafafa;
	 border-top: 1em solid #eeeeee;
 }
.row_pad{
	padding-bottom: 2em;
}
.lead{
	text-align: justify;
}
.footer_herf,
.footer_herf:hover {
	color: #9BCA3B;
}








